<h2>User info</h2>

<ul class="user_info">
    <li>
        <%#= ユーザー画像を表示する %>
        <img src=<%= @user.image %> class="icon-image" srcset="">
    </li>
    <li>
        
       <strong><%= @user.username %></strong>
    </li>
    <li>
        <h3>Email</h3>
        <%= @user.email %>
    </li>
    
</ul>

<p></p>
<p><%= link_to "Edit Profile", edit_user_registration_path(@user.id) %></p>
<p><%= link_to "TOP", root_url %></p>