<% provide(:title, "My Page") %>

<div class="user-wrapper">
    <div class="user-container">

        <ul class="user_info">
            <li>
                <h2>My Page</h2>
            </li>
            <li>
                <%#= ユーザー画像を表示する %>
                <img src=<%= @user.image %> class="icon-image" srcset="">
            </li>
            <li>
                
            <h2><%= @user.username %></h2>
            </li>
            <li>
                <h3><i class="far fa-envelope"></i>Email：
                    <%= @user.email %>
                </h3>
            </li>
            
        </ul>

        <ul class="ownposts">
            <div class="post-list">
                <%= render 'posts/post_show' %>
            </div>
        </ul>

    </div>
    <div class="link-index">
            <p><%= link_to "Edit Profile", edit_user_registration_path(@user.id) %></p>
            <p><%= link_to "TOP", root_url %></p>
    </div>
</div>