<%# いいねの多い順に投稿を表示するパーシャル %>
<% @ranked_posts.each do |post|  %>
<section class="post-section post-show">
                        <h3><%= post.cafename %></h3>
                        <%# 暫定的に表示 %>
                        <p>Posted by <%= post.user.username %>, No.<%= post.user_id %></p>
                        <div id="star-rate<%= post.id %>"></div>
                        <div class="post-img">
                            <% if post.img? %>
                                <img class="cafe_img" src="<%= post.img %>">
                            <% else %>
                                <img class="cafe_img" src="/assets/default.png">
                            <% end %>
                        </div>
                        <%# コメント %>
                        <p id="ttt"><%= post.comment %></p>
                        <%# いいね機能,現在非同期処理にて実行中 %>
                        <%# いいね機能エラーのためコメントアウト中 %>

                        <div class="like-counts">
                            <p id="post_<%= post.id %>">
                                <%= render 'posts/post', post: post %>
                            </p>
                        </div>
                        <%# wifi, outlet有無 %>
                        <div class="logo-section">
                            <% if post.wifi? %>
                                <span class="wifi mark"><i class="fas fa-wifi"></i></span>
                            <% end %>
                            <% if post.outlet? %>
                                <span class="outlet mark"><i class="fas fa-plug"></i></span>
                            <% end %>
                        </div>

                        <p><%= link_to "DELETE", post_path(post.id), method: :delete %></p>
                    </section>
<% end %>