<h1>Posts here!</h1>

<%= form_with(model: @post, local:true) do |f| %>
    <!-- user_idの送信 -->
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <!-- Cafename -->
    <div class="field post_cafename">
        <p><%= f.label :cafename, "Cafename" %></p> 
        <%= f.text_field :cafename %>
    </div>
    
    <!-- wifi有無 -->
    <div class="field wifi">
        <%= f.label :wifi %>
        <%= f.check_box :wifi, {}, :as => :boolean %>
    </div>

    <!-- Star review -->
    <div class="field star" id="star">
        <p><%= f.label :rate %></p>
        <%= f.hidden_field :rate, id: :review_star %>
    </div>    
    
    <div class="field post_comment">
        <p><%= f.label :comment, "Comment" %></p>
        <%= f.text_area :comment, placeholder: "Comment here" %>
    </div>

    <div class="field post_image">
        <%= f.file_field :img, id: "image" %>
    </div>

    <script>
        $('#star').raty({
            size : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            <%# Postモデルのrateカラムに値を保存する %>
            scoreName: 'post[rate]',
            half: true
        });
    </script>

    <div class="field post_submit">
        <%= f.submit "投稿" %>
    </div>
<% end %>

<p><%= link_to "TOP", root_url %> </p>