<h1>Posts here!</h1>

<%= form_with(model: @post, local: true) do |f| %>
    <p><%= f.label :comment, "Comment" %></p>
    <%= f.text_area :comment, placeholder: "Comment here" %>

    <%= f.file_field :img, id: "image" %>

    <p><%= f.submit "Create" %></p>
<% end %>