<% provide(:title, "#{@post.cafename}") %>

<div class="post-container">
    <section>
                    <h2><%= @post.cafename %></h2>
                        <%# 暫定的に表示 %>
                        <p><%= @post.id %></p>
                        <div id="star-rate<%= @post.id %>"></div>
                        <div class="post-img">
                            <% if @post.img? %>
                                <img class="cafe_img" src="<%= @post.img %>">
                            <% else %>
                                <img class="cafe_img" src="/assets/default.png">
                            <% end %>
                        </div>
                        <%# コメント %>
                        <p id="ttt"><%= @post.comment %></p>
                        <%# いいね機能,現在非同期処理にて実行中 %>
                        <p id="post_<%= @post.id %>">
                            <%= render 'post', post: @post %>
                        </p>
                        <% if false %>

                        <% if current_user.liked_by?(@post.id) %>
                            <td><%= link_to "いいねを外す", destroy_like_path(@post), method: :delete %>
                            <%= @post.likes.count %></td>
                        <% else %>
                            <%# リンクを付与するためにviewを編集 %>
                            <td><%= link_to "いいね!", create_like_path(@post), method: :post %>
                            <%= @post.likes.count %></td>
                        <% end %>

                        <% end %>
                        <%# wifi, outlet有無 %>
                        <div class="logo-btn">
                            <% if @post.wifi? %>
                                <span class="wifi-logo">WIFI</span>
                            <% end %>
                            <% if @post.outlet? %>
                                <span class="outlet-logo">OUTLET</span>
                            <% end %>
                        </div>

                        <p><%= link_to "DELETE", post_path(@post.id), method: :delete %></p>
    </section>

                <script>
                // test
                // $(document).on('turbolinks:load',function() {}
                    
                    $('#star-rate<%= @post.id %>').raty({
                        size : 36,
                        starOff : '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= @post.rate %>,
                    });
                
                </script>
</div>

<%= link_to "TOP", root_url %>