<% provide(:title, "#{@post.cafename}") %>

<div class="post-list">
    <section class="post-section post-show">
                    <h3><%= @post.cafename %></h3>
                        <%# 暫定的に表示 %>
                        <p>Posted by <%= @post.user.username %>, No.<%= @post.user_id %></p>
                        <div id="star-rate<%= @post.id %>"></div>
                        <div class="post-img">
                            <% if @post.img? %>
                                <img class="cafe_img" src="<%= @post.img %>">
                            <% else %>
                                <img class="cafe_img" src="/assets/default.png">
                            <% end %>
                        </div>
                        <%# コメント %>
                        <p id="ttt"><%= @post.comment %></p>
                        <%# いいね機能,現在非同期処理にて実行中 %>
                        <div class="like-counts">
                            <p id="post_<%= @post.id %>">
                                <%= render 'post', post: @post %>
                            </p>
                        </div>
                        <% if false %>

                        <% if current_user.liked_by?(@post.id) %>
                            <td><%= link_to "いいねを外す", destroy_like_path(@post), method: :delete %>
                            <%= @post.likes.count %></td>
                        <% else %>
                            <%# リンクを付与するためにviewを編集 %>
                            <td><%= link_to "いいね!", create_like_path(@post), method: :post %>
                            <%= @post.likes.count %></td>
                        <% end %>

                        <% end %>
                        <%# wifi, outlet有無 %>
                        <div class="logo-section">
                            <% if @post.wifi? %>
                                <span class="wifi mark"><i class="fas fa-wifi"></i></span>
                            <% end %>
                            <% if @post.outlet? %>
                                <span class="outlet mark"><i class="fas fa-plug"></i></span>
                            <% end %>
                        </div>

                        <% if @post.user_id == current_user.id %>
                            <p><%= link_to "DELETE", post_path(@post.id), method: :delete %></p>
                        <% end %>
    </section>
    <%#= link_to "TOP", root_url %>

                <script>
                // test
                // $(document).on('turbolinks:load',function() {}
                    
                    $('#star-rate<%= @post.id %>').raty({
                        size : 36,
                        starOff : '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= @post.rate %>,
                    });
                
                </script>
</div>

<%= link_to "TOP", root_url %>